[submodule "dot-config/mpv/modules/mpv-quality-menu"]
	path = dot-config/mpv/modules/mpv-quality-menu
	url = https://github.com/christoph-heinrich/mpv-quality-menu
[submodule "dot-config/mpv/modules/mpv_sponsorblock"]
	path = dot-config/mpv/modules/mpv_sponsorblock
	url = https://github.com/po5/mpv_sponsorblock.git
[submodule "dot-config/mpv/modules/mpv-playlistmanager"]
	path = dot-config/mpv/modules/mpv-playlistmanager
	url = https://github.com/jonniek/mpv-playlistmanager
[submodule "dot-config/mpv/modules/mpv_sponsorblock_minimal"]
	path = dot-config/mpv/modules/mpv_sponsorblock_minimal
	url = https://codeberg.org/jouni/mpv_sponsorblock_minimal.git
[submodule "dot-config/mpv/modules/thumbfast"]
	path = dot-config/mpv/modules/thumbfast
	url = https://github.com/po5/thumbfast.git
[submodule "dot-config/mpv/modules/autosubsync-mpv"]
	path = dot-config/mpv/modules/autosubsync-mpv
	url = https://github.com/joaquintorres/autosubsync-mpv.git
[submodule "command_palette"]
	path = dot-config/mpv/modules/command_palette
	url = https://github.com/stax76/mpv-scripts.git
[submodule "Meta_x"]
	path = dot-config/mpv/modules/mpv-scripts
	url = https://github.com/Seme4eg/mpv-scripts.git
[submodule "meta_x"]
	path = dot-config/mpv/modules/meta_x
	url = https://github.com/Seme4eg/mpv-scripts.git
[submodule "mpv-skipsilence"]
	path = dot-config/mpv/modules/mpv-skipsilence
	url = https://codeberg.org/ferreum/mpv-skipsilence.git
