dot-config/dunst/dunstrc
dot-config/git/credentials
dot-config/mpd/!mpd.conf
dot-config/mpd/database
dot-config/mpd/log
dot-config/mpd/lyrics
dot-config/mpd/pid
dot-config/mpd/playlists
dot-config/mpd/state
dot-config/mpv/last
dot-config/mpv/playlists
dot-config/mpv/watch_later
dot-config/ncmpcpp/error.log
dot-config/nvim/.netrwhist
dot-config/nvim/autoload/plugged/**
dot-config/nvim/dein
dot-config/nvim/nodepath.vim
dot-config/nvim/paths.vim
dot-config/nvim/pythonpath.vim
dot-config/nvim/session/
dot-config/nvim/tags*
dot-config/nvim/vimspector-config/*
dot-config/qutebrowser/__pycache__
dot-config/ranger/__pycache__
dot-config/X11/xresources
dot-config/X11/xprofile
!dot-config/timewarrior/timewarrior.cfg
dot-config/timewarrior/data
dot-config/tmux/plugins/
dot-config/transmission-daemon/dht.dat
dot-config/transmission-daemon/resume
!dot-config/transmission-daemon/settings.json
dot-config/transmission-daemon/stats.json
dot-config/transmission-daemon/torrents
dot-config/transmission/dht.dat
dot-config/transmission/resume
!dot-config/transmission/settings.json
dot-config/transmission/stats.json
dot-config/transmission/torrents
dot-config/via/
!dot-config/zsh/.zshrc
dot-config/zzz/onresume
dot-config/zzz/onsuspend
