dot-config/conky/conky.conf

dot-config/doom/config.el
dot-config/doom/custom.el
dot-config/doom/init.el

dot-config/git/credentials

dot-config/lf/shortcuts

dot-config/mpd/**
!dot-config/mpd/mpd.conf
!dot-config/mpd/playlists/


dot-config/mpv/**
dot-config/mpv/disabled_scripts/**
dot-config/mpv/flake.conf
dot-config/mpv/history.log
dot-config/mpv/last
dot-config/mpv/test/**
!dot-config/mpv/fonts/**
!dot-config/mpv/modules/**
!dot-config/mpv/watch_later/
!dot-config/mpv/shaders/**
!dot-config/mpv/playlists/
dot-config/mpv/playlists/**
!dot-config/mpv/watch_later/
!dot-config/mpv/scripts-opts/**
!dot-config/mpv/scripts/**
!dot-config/mpv/input.conf
!dot-config/mpv/mpv.conf
!dot-config/mpv/music
!dot-config/mpv/queue

dot-config/ncmpcpp/error.log

dot-config/newsboat/**
!dot-config/nvim/config
!dot-config/nvim/urls

dot-config/nvim/**
!dot-config/nvim/init.vim
!dot-config/nvim/shortcuts.vim

dot-config/peaclock/**
!dot-config/peaclock/config

dot-config/pipe-viewer/**
dot-config/pipe-viewer/pipe-viewer.conf

dot-config/qBittorrent/*
!dot-config/qBittorrent/categories.json
!dot-config/qBittorrent/qBittorrent.conf

dot-config/qtile/**
!dot-config/qtile/autostart.py
!dot-config/qtile/autostart.sh
!dot-config/qtile/bars.py
!dot-config/qtile/bindings.py
!dot-config/qtile/colors.py
!dot-config/qtile/config.py
!dot-config/qtile/functions.py
!dot-config/qtile/groups.py
!dot-config/qtile/layouts.py
!dot-config/qtile/pyrightconfig.json
!dot-config/qtile/scrachpad.py

dot-config/qutebrowser/__pycache__
dot-config/qutebrowser/autoconfig.yml
dot-config/qutebrowser/greasemonkey/disabled
dot-config/qutebrowser/qsettings

dot-config/shell/shortcutrc
dot-config/shell/zshnameddirrc

dot-config/spotify-tui/**
!dot-config/spotify-tui/config.yml

dot-config/sv/**/supervise

dot-config/systemd/**

!dot-config/timewarrior/timewarrior.cfg
dot-config/timewarrior/data

dot-config/tmux/plugins/

dot-config/transmission-daemon/**
!dot-config/transmission-daemon/settings.json

dot-config/transmission/**
!dot-config/transmission/settings.json

dot-config/zsh/plugins
dot-config/zsh/.z*
!dot-config/zsh/.zshrc

dot-config/zzz/onresume
dot-config/zzz/onsuspend
