.config/Xresources
.config/dunst/dunstrc
.config/git/credentials
.config/mpd/!mpd.conf
.config/mpd/database
.config/mpd/log
.config/mpd/lyrics
.config/mpd/pid
.config/mpd/playlists
.config/mpd/state
.config/mpv/watch_later
.config/ncmpcpp/error.log
.config/nvim/.netrwhist
.config/nvim/autoload/plugged/**
.config/nvim/dein
.config/nvim/nodepath.vim
.config/nvim/paths.vim
.config/nvim/pythonpath.vim
.config/nvim/session/
.config/nvim/tags*
.config/nvim/vimspector-config/*
.config/qutebrowser/__pycache__
.config/ranger/__pycache__
!.config/timewarrior/timewarrior.cfg
.config/timewarrior/data
!.config/transmission/settings.json
.config/transmission/stats.json
.config/transmission/dht.dat
.config/transmission/torrents
.config/transmission/resume
!.config/transmission-daemon/settings.json
!.config/zsh/.zshrc
.config/zzz/onresume
.config/zzz/onsuspend
