/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
  display: none !important;
}

/* #TabsToolbar, */
.tabbrowser-tab {
  max-height: 35px !important;
  background-color: transparent !important;
}

/* Hide window controls on fullscreen */
#window-controls {
  display: none;
}

/* safari style tab width */
.tabbrowser-tab[fadein] {
  max-width: 100vw !important;
  border: none;
}

/* debloat navbar */
#back-button {
  display: none;
}

#forward-button {
  display: none;
}

#reload-button {
  display: none;
}

#stop-button {
  display: none;
}

#home-button {
  display: none;
}

#library-button {
  display: none;
}

#sidebar-button {
  display: none;
}

/* Firefox account button */
#fxa-toolbar-menu-button {
  display: none;
}

#customizableui-special-spring1,
#customizableui-special-spring2 {
  display: none;
}

#identity-box {
  display: none;
}

#pageActionButton {
  display: none;
}

#pocket-button {
  display: none;
}

#star-button {
  display: none;
}

#urlbar-zoom-button {
  display: none;
}

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button {
  display: none;
}

/* Bottom left page loading status or url preview */
#statuspanel {
  display: none !important;
}
