[Unit]
Description=unclutter daemon

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/unclutter --jitter 10 --exclude-root --ignore-scrolling
Restart=always
RestartSec=5s

MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes
TimeoutStopSec=2

[Install]
WantedBy=graphical.target
