[Unit]
Description=xautolock daemon

[Service]
Type=simple
ExecStart=/usr/bin/xautolock -time 5 -notify 30 -notifier "notify-send -u critical -t 30000 'System will be locked' '30 seconds left'" -locker 'systemctl suspend'
Restart=always
RestartSec=5s

MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes
TimeoutStopSec=2

[Install]
WantedBy=graphical.target
